* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 20px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.bill-list {
  max-height: 400px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: white;
}

.bill-item {
  margin: 5px;
  border-bottom: 1px solid #ddd;
}

/* New wrapper div for title and button */
.bill-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 0px;
}

.bill-item:hover {
  background-color: #f9f9f9;
}

.bill-item span {
  font-weight: bold;
}

button {
  padding: 5px 10px;
  margin: 0px 10px;
  font-size: 14px;
  height: 40px;
  min-width: 120px;
  background-color: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}

.loading {
  text-align: center;
  font-size: 16px;
  color: #666;
  display: none;
  margin-top: 20px;
}

#title-text {
  margin: 40px;
}

.summary-item {
  display: block;
  max-height: 0; /* Start with zero height */
  opacity: 0; /* Initially hidden */
  margin-top: 10px;
  padding: 10px;
  font-size: 14px;
  background-color: #f8f9fa;
  border-top: 1px solid #eee;
  overflow: hidden; /* Hide overflowing content */
  transition: opacity 0.3s ease-in-out, max-height 0.3s ease-in-out; /* Smooth transitions */
}

.summary-item.show {
  max-height: 1000px; /* Arbitrary large value, enough to fit your content */
  opacity: 1; /* Fade in */
}


